body
{
	margin: 0 auto;
	padding: 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
}
table
{
	border: 0;
	padding: 0;
	margin: 0 0 20px 0;
	border-collapse: collapse;
	width: 100%;
}
th
{
	padding: 5px; /* NOTE: th padding must be set explicitly in order to support IE */
	text-align: left;
	text-transform: uppercase;
	line-height: 2em;
	color: #FFF;
	background-color: #555;
}
.amount
{
	text-align: right;
	padding-right: 10px;
}
tbody td
{
	padding: 5px 5px 20px 5px;
	line-height: 18px;
	border-top: 1px solid #E0E0E0;
}
tbody tr:nth-child(2n)
{
	background-color: #F7F7F7;
}
tbody tr:hover
{
	background-color: #EEEEEE;
}
.stock th
{
	background-color: #FC6E0F;
	text-transform: none;
	/*text-align: center;*/
	text-align: left;
	padding: 10px;
}
.stock th, .stock td
{
	/*text-align: center;*/
	text-align: left;
	padding: 5px 20px;
}
.stock td:first-child, .stock th:first-child
{
	text-align: left;
	font-weight: normal;
}
.spotipy th
{
	text-transform: none;
	font-weight: bold;
	/*text-align: center;*/
	text-align: left;
}
.spotipy th, .spotipy td
{
	padding: 6px 5px;
	font-size: 8pt;
}
.spotipy td
{
	/*text-align: right;*/
}
.spotipy td:first-child, .spotipy th:first-child
{
	text-align: left;
}
.uci th, .uci td
{
	font: 10px verdana;
}
.uci th
{
	color: #7D7D7D;
	background-color: #E5E5E5;
	text-transform: none;
	font-weight: bold;
}
.uci .age
{
	text-align: center;
}
.uci .result
{
	text-align: right;
}


body.fixed_header
{
	padding: 60px 20px;
}

body.fixed_header .header
{
	position: fixed;
	top: 0;
	background: #080808;
	color: #FFC234;
	width: 100%;
	z-index: 1000;
	margin: 0 -20px;
	padding: 0 20px;
}

tbody tr.playing
{
	background-color: #FF6600;
}

a:link {color:#555; text-decoration: none}          /* unvisited link */
a:visited {color:#555; text-decoration: none}       /* visited link */
a:hover {color:#555; text-decoration: underline}    /* mouse over link */
a:active {color:#555; text-decoration: underline}   /* selected link */
